:root {
    //TYPOGRAPHY
    --title-font-family: "Big Shoulders Display", cursive;
    --body-font-family: "Barlow Condensed", serif;
  
    //FONT-SIZE
    --h1-font-size: 5.5rem;
    --h2-font-size: 3.5rem;
    --h3-font-size: 3rem;
    --h4-font-size: 15rem;
    --h5-font-size: 1.25rem;
    --h6-font-size: 1.125rem;
  
    --body-xl: 1.5rem;
    --body-lg: 1.125rem;
    --body-md: 1rem;
    --body-sm: 0.875rem;
    --body-xs: 0.75rem;
  
    //FONT-WEIGHT
    --h1-font-weight: 700;
    --h2-font-weight: 700;
    --h3-font-weight: 400;
    --h4-font-weight: 400;
    --h5-font-weight: 700;
    --h6-font-weight: 700;
  
    --body-regular: 400;
    --body-bold: 700;
  
    //FONT LINE HEIGHT
    --h1-height: 8.25rem;
    --h2-height: 5.25rem;
    --h3-height: 4.5rem;
    --h4-height: 2.25rem;
    --h5-height: 1.875rem;
    --h6-height: 1.687rem;
  
    --body-xl-height: 2.25rem;
    --body-lg-height: 1.687rem;
    --body-md-height: 1.5rem;
    --body-sm-height: 1.312rem;
    --body-xs-height: 1.125rem;
  
    // COLOR STYLES
    --black: #161616;
    --gray-10: #2A2A2A;
    --gray-25: #303030;
    --gray-50: #4B4B4B;
    --gray-100: #8E8E8E;
    --gray-200: #A4A4A4;
    --gray-600: #FDFFFC;
  
    --leather-100: #CA8F65;
    --leather-200: #F4DECE;
  
  
    //SCREEN SIZES
  
    --desktop: 1080px;
    --tablet: 960px;
    --mobile: 720px;
    --mobile-sm: 420px;
  
    @media (max-width: 1080px) {
      font-size: 93.75%;
    }
    @media (max-width: 720px) {
      font-size: 87.5%;
    }
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font-family);
    background-color: var(--gray-25);
    color: var(--gray-600);
    line-height: var(--body-md-height);
    min-height: 100vh;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--gray-25);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--leather-100);
    }

    & ::selection {
      background-color: var(--leather-100);
      color: var(--gray-600);
    }
}

button {
    cursor: pointer;
}

input, textarea, button, select {
  font-family: var(--body-font-family);
}